set security firewall name SERVICE-ALLOW rule 1 action 'accept'
set security firewall name SERVICE-ALLOW rule 1 destination address '10.0.64.0/19'
set security firewall name SERVICE-ALLOW rule 2 action 'accept'
set security firewall name SERVICE-ALLOW rule 2 destination address '10.1.128.0/19'
set security firewall name SERVICE-ALLOW rule 3 action 'accept'
set security firewall name SERVICE-ALLOW rule 3 destination address '10.0.86.0/24'
set security firewall name SERVICE-ALLOW rule 4 action 'accept'
set security firewall name SERVICE-ALLOW rule 4 destination address '10.2.128.0/20'
set security firewall name SERVICE-ALLOW rule 5 action 'accept'
set security firewall name SERVICE-ALLOW rule 5 destination address '10.1.176.0/20'
set security firewall name SERVICE-ALLOW rule 6 action 'accept'
set security firewall name SERVICE-ALLOW rule 6 destination address '10.1.64.0/19'
set security firewall name SERVICE-ALLOW rule 7 action 'accept'
set security firewall name SERVICE-ALLOW rule 7 destination address '10.1.96.0/19'
set security firewall name SERVICE-ALLOW rule 8 action 'accept'
set security firewall name SERVICE-ALLOW rule 8 destination address '10.1.192.0/20'
set security firewall name SERVICE-ALLOW rule 9 action 'accept'
set security firewall name SERVICE-ALLOW rule 9 destination address '10.1.160.0/20'
set security firewall name SERVICE-ALLOW rule 10 action 'accept'
set security firewall name SERVICE-ALLOW rule 10 destination address '10.2.32.0/20'
set security firewall name SERVICE-ALLOW rule 11 action 'accept'
set security firewall name SERVICE-ALLOW rule 11 destination address '10.2.64.0/20'
set security firewall name SERVICE-ALLOW rule 12 action 'accept'
set security firewall name SERVICE-ALLOW rule 12 destination address '10.2.112.0/20'
set security firewall name SERVICE-ALLOW rule 13 action 'accept'
set security firewall name SERVICE-ALLOW rule 13 destination address '10.2.160.0/20'
set security firewall name SERVICE-ALLOW rule 14 action 'accept'
set security firewall name SERVICE-ALLOW rule 14 destination address '10.1.208.0/20'
set security firewall name SERVICE-ALLOW rule 15 action 'accept'
set security firewall name SERVICE-ALLOW rule 15 destination address '10.2.80.0/20'
set security firewall name SERVICE-ALLOW rule 16 action 'accept'
set security firewall name SERVICE-ALLOW rule 16 destination address '10.2.144.0/20'
set security firewall name SERVICE-ALLOW rule 17 action 'accept'
set security firewall name SERVICE-ALLOW rule 17 destination address '10.2.48.0/20'
set security firewall name SERVICE-ALLOW rule 18 action 'accept'
set security firewall name SERVICE-ALLOW rule 18 destination address '10.2.176.0/20'
set security firewall name SERVICE-ALLOW rule 19 action 'accept'
set security firewall name SERVICE-ALLOW rule 19 destination address '10.3.64.0/20'
set security firewall name SERVICE-ALLOW rule 20 action 'accept'
set security firewall name SERVICE-ALLOW rule 20 destination address '10.3.80.0/20'
